{{ if .Site.Data.homepage.about.enable }}
<section class="section rad-animation-group pb-0" id="about" aria-labelledby="about-heading">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="about__profile-picture col-12 col-md-6 text-center">
        {{ partial "responsive-image.html" (dict 
          "src" .Site.Data.homepage.about.image.original
          "alt" "Guillaume Gustin - Profile Picture"
          "class" "lozad img-responsive"
          "lazy" true
          "width" "60%"
          "style" "max-width: 350px; margin: 0 auto;"
        ) }}
      </div>
      <div class="col-12 col-md-6 my-auto my-auto">
        <h2 id="about-heading">{{ .Site.Data.homepage.about.title }}</h2>
        <p class="lead">
          {{ .Site.Data.homepage.about.content | safeHTML }}
        </p>
        <!--  <a
          href="{{ .Site.Data.homepage.about.button.URL | absURL }}"
          target="_blank"
          rel="noopener"
          class="btn btn-primary"
        >
         <i class="{{ .Site.Data.homepage.about.button.icon }}"></i>
          {{ .Site.Data.homepage.about.button.btnText }}
        </a> -->
      </div>
    </div>
  </div>
</section>
{{ end }} 