{{ if .Site.Data.homepage.client_and_work.enable }}
<section id="portfolio" class="section section--border-bottom" aria-labelledby="portfolio-heading">
  <div class="container">
    <h2 id="portfolio-heading" class="rad-animation-group rad-fade-down">
      {{ .Site.Data.homepage.client_and_work.title }}
    </h2>
    <div class="row row--padded rad-animation-group rad-fade-down">
      <div class="col-12">
        <div class="clients">
          {{ range .Site.Data.homepage.client_and_work.clients }}
          <div class="clients__item">
            {{ partial "responsive-image.html" (dict 
              "src" .logo.original
              "alt" .alt
              "class" "lozad img-responsive"
              "lazy" true
              "height" "60px"
            ) }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ range $index, $element := .Site.Data.homepage.client_and_work.works }}
    <div
      class="row row--padded rad-animation-group rad-fade-down {{ if .is_even }}flex-column-reverse flex-md-row{{ end }}"
    >
      {{ if .is_even }}
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <h3>{{ .title  | safeHTML }}</h3>
        <p class="lead">
          {{ .description | safeHTML }}
          <!-- ADDED :-) -->
        <br>
        {{ with $element }}
          {{ range $element.stack }}
            <span class="badge badge-secondary random_color"> {{ .name }} </span>
          {{ end }}
        {{ end }}
        </p>
        {{ if .button.enabled }}
        <a href="{{ .button.URL | absURL }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer"
          >{{ .button.btnText }}<i class="{{ .button.icon }}"></i
        ></a>
        {{ end }}
      </div>
      <div class="col-12 col-md-7 pl-md-0 text-right">
        {{ partial "responsive-image.html" (dict 
          "src" .image.original
          "alt" .title
          "class" (printf "lozad img-responsive img-zoom %s" (cond (eq ( mod $index 4) 0) "img-clip-left-backward" "img-clip-left-forward"))
          "lazy" true
        ) }}
      </div>
      {{ else }}
      <div class="col-12 col-md-7 pl-md-0 text-right">
        {{ partial "responsive-image.html" (dict 
          "src" .image.original
          "alt" .title
          "class" (printf "lozad img-responsive img-zoom %s" (cond (eq ( mod $index 4) 1) "img-clip-right-backward" "img-clip-right-forward"))
          "lazy" true
        ) }}
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <h3>{{ .title | safeHTML }}</h3>
        <p class="lead">
          {{ .description | safeHTML }}
          <!-- ADDED :-) -->
        <br>
        {{ with $element }}
          {{ range $element.stack }}
            <span class="badge badge-secondary random_color"> {{ .name }} </span>
          {{ end }}
        {{ end }}
        </p>
        {{ if isset .button "enabled" }}
          {{ if .button.enabled }}
          <a href="{{ .button.URL | absURL }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer"
            >{{ .button.btnText }}<i class="{{ .button.icon }}"></i
          ></a>
          {{ end }}
        {{ else }}
          <a href="{{ .button.URL | absURL }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer"
            >{{ .button.btnText }}<i class="{{ .button.icon }}"></i
          ></a>
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }} 