{{ $d := (index .Site.Data .Site.Language.Lang).homepage }}
{{ if templates.Exists "partials/custom/experience-with-logos.html" }}
  {{ partial "custom/experience-with-logos.html" . }}
{{ else }}
  {{ if $d.experience.enable }}
  <section id="experience" class="section section--border-bottom rad-animation-group" aria-labelledby="experience-heading">
      <div class="container">
          <div class="row flex-column-reverse flex-md-row rad-fade-down">
              <div class="col-12 col-sm-6 mt-5 mt-sm-0">
                  {{ range $d.experience.items }}
                  <div class="experience-with-logo">
                      <div class="experience-logo">
                          {{ $companyName := .company | lower }}
                          {{ if eq $companyName "pwablo | sustainable web agency" }}
                              {{ partial "responsive-image.html" (dict 
                                  "src" "/img/companies/pwablo_logo.webp"
                                  "alt" "Pwablo Logo"
                                  "class" "company-logo"
                                  "lazy" true
                              ) }}
                          {{ else if eq $companyName "bruxeo" }}
                              {{ partial "responsive-image.html" (dict 
                                  "src" "/img/companies/bruxeo.png"
                                  "alt" "BRUXEO Logo"
                                  "class" "company-logo"
                                  "lazy" true
                              ) }}
                          {{ else if eq $companyName "part-time freelance" }}
                              {{ partial "responsive-image.html" (dict 
                                  "src" "/img/companies/GG_logo.png"
                                  "alt" "GG Logo"
                                  "class" "company-logo"
                                  "lazy" true
                              ) }}
                          {{ else if eq $companyName "the medical cloud company" }}
                              {{ partial "responsive-image.html" (dict 
                                  "src" "/img/companies/medC2.webp"
                                  "alt" "Medical Cloud Company Logo"
                                  "class" "company-logo"
                                  "lazy" true
                              ) }}
                          {{ else if eq $companyName "catholic university of louvain" }}
                              {{ partial "responsive-image.html" (dict
                                  "src" "/img/companies/logo_uclouvain.png"
                                  "alt" "UCLouvain Logo"
                                  "class" "company-logo"
                                  "lazy" true
                              ) }}
                          {{ else if eq $companyName "vrije universiteit brussel" }}
                              {{ partial "responsive-image.html" (dict
                                  "src" "/img/companies/vub_logo.svg"
                                  "alt" "VUB Logo"
                                  "class" "company-logo"
                                  "lazy" true
                              ) }}
                          {{ end }}
                      </div>
                      <div class="experience-content">
                          <div class="experience__date">{{ .duration }}</div>
                          <div class="experience__title">{{ .title }}</div>
                          <div class="experience__company">{{ .company }}</div>
                          {{ if .description }}
                          <div class="experience__description">{{ .description | safeHTML }}</div>
                          {{ end }}
                      </div>
                  </div>
                  {{ end }}
              </div>
              <div class="col-12 col-sm-6">
                  <h2 id="experience-heading">{{ $d.experience.title }}</h2>
                  {{ $d.experience.description | safeHTML }}
                  <div class="experience-buttons">
                      <a href="{{ $d.experience.button.URL | absURL }}" class="btn btn-primary" target="_blank" rel="noopener">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" style="vertical-align: -2px; margin-right: 4px;"><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 01-2.063-2.065 2.064 2.064 0 112.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/></svg>
                          {{ $d.experience.button.btnText }}
                      </a>
                      {{ if isset $d.experience "button2" }}
                      <a href="{{ $d.experience.button2.URL | absURL }}" class="btn btn-frameless" target="_blank" rel="noopener">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: -2px; margin-right: 4px;"><path d="M21 15v4a2 2 0 01-2 2H5a2 2 0 01-2-2v-4"/><polyline points="7 10 12 15 17 10"/><line x1="12" y1="15" x2="12" y2="3"/></svg>
                          {{ $d.experience.button2.btnText }}
                      </a>
                      {{ end }}
                  </div>
              </div>
          </div>
      </div>
  </section>
  {{ end }}
{{ end }} 