<header class="header fixed-top rad-animation-group" id="header" role="banner">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0" aria-label="Main navigation">
      <a class="navbar-brand" href="{{ .Site.BaseURL | absURL }}" aria-label="Guillaume Gustin - Home">
        <picture>
          <source srcset="{{ `img/general/logo_ggustin.avif` | relURL }}" type="image/avif">
          <img src="{{ `img/general/logo_ggustin.webp` | relURL }}" alt="Guillaume Gustin" class="navbar-brand-logo" />
        </picture>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto" role="menubar">
          <li class="nav-item" role="none">
            <a class="nav-link" href="{{ .Site.BaseURL | absURL }}" role="menuitem">HOME</a>
          </li>
          {{ range .Site.Menus.header }}
          <li class="nav-item" role="none">
            <a data-scroll class="nav-link" href="{{ .URL }}" role="menuitem"
              >{{ .Name | upper }}</a
            >
          </li>
          {{ end }}
          <!-- Language switcher -->
          {{ if gt (len .Site.Languages) 1 }}
          <li class="nav-item lang-switcher" role="none">
            {{ if eq .Site.Language.Lang "en" }}
            <a class="nav-link" href="{{ .Site.BaseURL }}fr/" role="menuitem" aria-label="Passer en français"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: -1px; margin-right: 3px;"><circle cx="12" cy="12" r="10"/><line x1="2" y1="12" x2="22" y2="12"/><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"/></svg>FR</a>
            {{ else }}
            <a class="nav-link" href="{{ .Site.BaseURL }}" role="menuitem" aria-label="Switch to English"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: -1px; margin-right: 3px;"><circle cx="12" cy="12" r="10"/><line x1="2" y1="12" x2="22" y2="12"/><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"/></svg>EN</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</header>
