{{- $src := .src -}}
{{- $alt := .alt | default "" -}}
{{- $class := .class | default "" -}}
{{- $width := .width | default "auto" -}}
{{- $height := .height | default "auto" -}}
{{- $lazy := .lazy | default true -}}
{{- $style := .style | default "" -}}

{{- $webp_path := replace $src (path.Ext $src) ".webp" -}}
{{- $avif_path := replace $src (path.Ext $src) ".avif" -}}

{{- /* Use best available format as img src fallback */ -}}
{{- $fallback := $src -}}
{{- if fileExists (printf "static/%s" $webp_path) -}}
  {{- $fallback = $webp_path -}}
{{- end -}}
{{- if fileExists (printf "static/%s" $avif_path) -}}
  {{- $fallback = $avif_path -}}
{{- end -}}

<picture>
  {{- if fileExists (printf "static/%s" $avif_path) -}}
  <source srcset="{{ $avif_path | relURL }}" type="image/avif">
  {{- end -}}
  {{- if fileExists (printf "static/%s" $webp_path) -}}
  <source srcset="{{ $webp_path | relURL }}" type="image/webp">
  {{- end -}}
  <img
    src="{{ $fallback | relURL }}"
    alt="{{ $alt }}"
    {{ with $class }}class="{{ . }}"{{ end }}
    {{ if ne $width "auto" }}width="{{ $width }}"{{ end }}
    {{ if ne $height "auto" }}height="{{ $height }}"{{ end }}
    {{ if $lazy }}loading="lazy"{{ end }}
    {{ with $style }}style="{{ . }}"{{ end }}
  >
</picture>