{{ $d := (index .Site.Data .Site.Language.Lang).homepage }}
{{ if $d.showcase.enable }}
<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down" aria-label="Introduction">
  <div class="rad-showcase__bg" aria-hidden="true">
    <img
      class="lozad img-responsive"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ $d.showcase.image.x | absURL }}"
      data-srcset="{{ $d.showcase.image.x | absURL }} 1x, {{ $d.showcase.image._2x | absURL }} 2x"
      alt=""
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-1">
          {{ $d.showcase.title }}
          <br />
          <span>{{ $d.showcase.subtitle }}</span>
        </h1>
        <p class="lead">
          {{ $d.showcase.description | safeHTML }}
        </p>
        <a
          href="{{ $d.showcase.button.URL | absURL }}"
          class="btn btn-primary"
        >
          <i class="{{ $d.showcase.button.icon }}" aria-hidden="true"></i>
          {{ $d.showcase.button.btnText }}
        </a>
      </div>
    </div>
    <div class="row platform-links">
      <div class="col-12">
        {{ range $d.showcase.socialLinks }}
        <a href="{{ .URL | absURL }}" target="_blank" rel="noopener noreferrer" aria-label="Contact via {{ .icon }}"
          ><i class="icon-{{ .icon }}-line" aria-hidden="true"></i
        ></a>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="rad-showcase__bg rad-showcase__bg--mobile" aria-hidden="true">
    <img
      class="lozad img-responsive"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ $d.showcase.imageMobile.x | absURL }}"
      alt=""
    />
  </div>
</section>
{{ end }}
