{
  "openapi": "3.1.0",
  "info": {
    "title": "guillaumegustin.be Public Contact API",
    "version": "1.0.0",
    "description": "A small same-origin endpoint for sending contact form messages to Guillaume Gustin."
  },
  "servers": [
    {
      "url": "https://guillaumegustin.be"
    }
  ],
  "paths": {
    "/api/contact": {
      "post": {
        "summary": "Send a contact form message",
        "operationId": "sendContactMessage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["name", "_replyto", "message"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "description": "Sender name."
                  },
                  "_replyto": {
                    "type": "string",
                    "format": "email",
                    "description": "Sender email address."
                  },
                  "message": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 2000,
                    "description": "Message body."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message accepted for delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok"],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Validation failed."
          },
          "429": {
            "description": "Rate limit exceeded."
          },
          "502": {
            "description": "Mail delivery provider failed."
          }
        }
      }
    }
  }
}
