{{ $d := (index .Site.Data .Site.Language.Lang).homepage }}
{{ if $d.testimonial.enable }}
<section class="section rad-animation-group section--border-bottom">
    <div class="container">
        <h2 class="rad-fade-down">{{ $d.testimonial.title }}</h2>
        <div class="row row--padded mb-0 rad-fade-down">
            {{ range $d.testimonial.items }}
            <div class="col-12 col-md-4 mb-5 mb-md-0 testimonial">
                <i class="icon-quote"></i>
                <p>
                    {{ .content }}
                </p>
                <div class="testimonial__author">
                    {{ partial "responsive-image.html" (dict 
                        "src" .image.original
                        "alt" .name
                        "class" "lozad testimonial__author-image"
                        "lazy" true
                    ) }}
                    <div class="testimonial__author-info">
                        <h4>{{ .name }}</h4>
                        <span>{{ .position }}</span>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }} 